@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto/Roboto-regular.ttf');
}

@font-face {
    font-family: 'BigShoulderDisplay';
    src: url('../../public/fonts/Roboto/Roboto-Regular.ttf');
}

@layer footer {

    footer {
        @apply bg-white font-roboto;
        padding: 60px 0 20px 0;
    }
    .footer__top {
        @apply leading-7;
        padding-bottom: 35px;
    }

    .grid {
        @apply grid-rows-1 grid-cols-4;
    }

    footer h2 {
        @apply text-3xl font-bold !important;
        margin: 20px 0 10px !important;
    }

    footer h3 {
        @apply font-bold text-base !important;
        margin: 20px 0 10px !important;
    }

    li {
        @apply list-disc list-inside marker:text-mettalic-yellow;
    }

    footer a {
        text-decoration: underline !important;
        text-decoration-color: #bfbfbf !important;
    }

    footer a:hover {
        text-decoration-color: black !important;
        transition: text-decoration-color .4s ease;
    }
}

@layer products {
    .products {
        @apply overflow-x-auto p-3;
    }

    .products table {
        @apply table-auto w-full;
    }

    .products thead {
        @apply text-xs font-semibold uppercase text-gray-400 bg-gray-50;
    }

    .products th, td {
        @apply p-2
    }

    .products .product__checkbox {
        @apply w-5 h-5 text-center;
    }

    .products .product__title {
        @apply font-medium text-gray-800;
    }

    .products th:first-of-type {
        width: 5%;
        text-align: center;
    }

    .products th {
        text-align: left;
    }

    .products th {
        align-items: center;
    }
}

/*header styles*/

.header-container {
    width: 100%;
    background-color: white;
}

/*hero styles*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}


.heroButton{
    background-color: #FDD716;
}

.hero_bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/photos/staff-working-behind-counter-in-busy-coffee-shop-picture-id900816038?k=20&m=900816038&s=612x612&w=0&h=PYTP1QdLaw2YuvrKZVe8nGgek6wa0CmYN4bRqjhYr8E=);
}

.filter{
    background-color: rgba(0, 0, 0, 0.500);
}

.form-group{
    width: 50px;
    margin-left: 600px;
}

.form-group input{
    width: 600px;
}

.form-group textarea{
    width: 600px;
    height: 200px;
}

.form-group label{
    width: 600px;
}
.form-group button{
    width: 600px;
    margin-top: 20px;
    background-color: #fdd716;

}

.form-group button:hover{
    cursor: pointer;
    background-color: darkorange;
}

.h1_contact{
    margin-left: 600px;
    font-family: 'BigShoulderDisplay';
}
